extends ../layout

block content
    .container
        div(id="input_page_wrapper")
            div(id="input")
                form(id="input_form", name="addEntry", method="post", action="/addMeeting/add")
                    div(class="label_box")
                        label(for="venueid") Venue ID:
                        input(type="text", placeholder="Example: Soul Kitchen", name="venueid")
                    div(class="label_box")
                        label(for="meetingname") Meeting Name:
                        input(type="text", placeholder="Example: Soul Kitchen", name="meetingname")
                    div(class="label_box")
                        label(for="meetingdatestart") Meeting Start:
                        input(type="text", placeholder="Example: Soul Kitchen", name="meetingdatestart")
                    div(class="label_box")
                        label(for="meetingdateend") Meeting End:
                        input(type="text", placeholder="Example: Soul Kitchen", name="meetingdateend")
                    div(class="label_box")
                        label(for="meetinghours") Meeting Hours:
                        input(type="text", placeholder="Example: Soul Kitchen", name="meetinghours")
                    div(class="label_box")
                        label(for="meetingsponsor") Meeting Sponsor:
                        input(type="text", placeholder="Example: Soul Kitchen", name="meetingsponsor")
                    div(class="label_box")
                        label(for="meetingbudget") Meeting Budget:
                        input(type="text", placeholder="Example: Soul Kitchen", name="meetingbudget")
                    button(id="submit", name="submit", type="submit") submit
