extends layout

block content
	.container
		h1 A/V Equipment
		hr
		for eq in equipment
			h4= 'Equipment: ' + eq.equipmentdescription
			h4= 'Quantity: ' + eq.quantity
			h4= 'Set-Up Instructions: ' + eq.setupinstructions
			h4= 'Owned/Rental: ' + eq.ownedorrental
			h4= 'Daily Rental Price: ' + eq.dailyrentalprice
			h4 &nbsp
