doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/styleNew.css')
        link(rel='stylesheet', href='/stylesheets/dell-ui-bootstrap.min.css')
    body
        header#masthead
            nav.navbar.navbar-inverse.polaris-masthead
                .container-fluid
                    .row.header.col-md-6
                            a(href="/meetings")
                                .col-md-4.title
                                    h2 Meeting Managers
                    nav.navbar.navbar-inverse.navig.col-md-6
                        .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav
                                li
                                    a(href='/participants')
                                        span.glyphicon.glyphicon-th-list
                                        |  Participants
                                li
                                    a(href='/venues')
                                        span.glyphicon.glyphicon-home
                                        |  Venues
                                li
                                    a(href='/meetings')
                                        span.glyphicon.glyphicon-bullhorn
                                        |  Meetings
        block content
        footer
            .container Designed and Developed by Team-Russia
