extends layout

block content
    .container
        .row
            h2 Meeting Details
        .row
            ul.list-group.col-md-4.test
                li.list-group-item
                    a(href="/venues?id=#{meetingid}").venue Venue
                li.list-group-item
                    a(href="/meetingRoom?id=#{meetingid}").venue Rooms
                li.list-group-item
                    a(href="/food?id=#{meetingid}").venue Food
                li.list-group-item
                    a(href="/participants").venue Participants
                li.list-group-item
                    a(href="#Venue").venue Agenda
                li.list-group-item
                    a(href="#Venue").venue Speakers
