extends layout

block content
	.container
		h1 Meeting Room Details
		hr
		.row
			button.btn.btn-default
				a(href="/meetingRoom/add") Add new room
		.content
			for room in rooms
				h3= 'Venue: ' + room.venuename
				h4= 'Room Name: ' + room.eventroomname
				h4= 'Room Size: ' + room.eventroomsize
				h4= 'Room Layout: ' + room.eventroomlayout
				h4= 'Room Function: ' + room.eventroomfunction
				h4= 'Room Cost: ' + room.eventroomcost
				a(href="/avEquipment?id=#{room.eventroomid}") See AV Equipment
				br
				button.btn.btn-default
					a(href="/meetingRoom/edit") Edit
				button.btn.btn-default
					a(href="/meetingRoom/delete") Delete

				h4 &nbsp
