extends layout

block content
    .container
        h1 Select the meeting you'd like to view
        button.btn
            a(href="/meetingRoom/add") Add new meeting
        ul.list-group
            for room in rooms
                .row
                    li.list-group-item.col-md-4.roomN
                        a(href="/meetingDetails?id=#{room.meetingid}")=room.meetingname
