

.dell-logo img{
    width: 72px;
    height: 72px;
    z-index: 5000;
    color: white;
}

.title {
    color: white;
    margin-top: 10px;
}

.venue {
    font-size: 18px;
}

.navig {
    color:white;
    border:none!important;
}

.display {
    margin: 20px auto;
}

.content {
    margin: 50px 0;
}

.roomN {
    margin: 10px 0;
}
li.roomN:hover {
    color:white!important;
}
footer {
    background:#007db8;
    color: white;
}

footer .container {
    width: 100%;
    padding: 10px 10px 30px 10px;
    background-color: #007db8;
    clear: both;
    color: #ffffff;
    text-align: center;
    height: 30px;
    position: fixed;
    bottom: 0px !important;
    font-size: 18px;
    font-style: normal;
}
