extends ../layout

block content
    .container
        h2 Add food
        div(id="input_page_wrapper")
            div(id="input")
                form(id="input_form", name="addEntry", method="post", action="/food/edit")
                    for food in foods
                        div(class="label_box")
                            label(for="foodName") Food Name
                            input(type="text", value="", name="foodName")
                        div(class="label_box")
                            label(for="DayOfWeek") Day of Week:
                            input(type="text", value="#{food.DayOfWeek}", name="DayOfWeek")
                        div(class="label_box")
                            label(for="date") Date:
                            input(type="text", value=#{food.date}, name="date")

                        button(id="submit", name="submit", type="submit") Submit
