extends ../layout

block content
    .container
        h1 Foods
        .row
            button.btn.btn-default
                a(href="/food/add?id=#{id}") Add new Food
        .row
            table.table.table-stripped
                tr
                    th.text-align: center Food
                    th.text-align: center Date
                    th.text-align: center Day
                for food in foods
                    tr
                        td.text-align: center= food.foodName
                        td.text-align: center= food.date
                        td.text-align: center= food.DayOfWeek
                        td.btn
                            a(href="/food/edit?id=#{food.foodID}") Edit
                        td.btn
                            a(href="/food/delete?id=#{food.foodID}") Delete
