extends ../layout

block content
	.container
		h2 Add Venue
		div(id="input_page_wrapper")
			div(id="input")
				form(id="input_form", name="addEntry", method="post", action="/venues/add")
					div(class="label_box col-md-3")
						label(for="venueName") Venue Name:
						input(type="text", placeholder="Example: Westin Hotel", name="venueName")
					div(class="label_box col-md-3")
						label(for="venueAddress1") Venue Address 1:
						input(type="text", placeholder="Example: 1 Dell Way", name="venueAddress1")
					div(class="label_box col-md-3")
						label(for="venueAddress2") Venue Address 2:
						input(type="text", placeholder="Example: 1 Dell Way", name="venueAddress2")
					div(class="label_box col-md-3")
						label(for="venueCity") Venue City:
						input(type="text", placeholder="Example: Austin", name="venueCity")
					div(class="label_box col-md-3")
						label(for="venueState") Venue State:
						input(type="text", maxlength="2", placeholder="Example: TX", name="venueState")
					div(class="label_box col-md-3")
						label(for="venuePostal") Venue Postal:
						input(type="text", placeholder="Example: 78756", name="venuePostal")
					div(class="label_box col-md-3")
						label(for="venueCountry") Venue Country:
						input(type="text", placeholder="Example: USA", name="venueCountry")
					div(class="label_box col-md-3")
						label(for="venuePhone") Venue Phone:
						input(type="text", placeholder="Example: 512-832-4197", name="venuePhone")
					div(class="label_box col-md-3")
						label(for="venueFax") Venue Fax:
						input(type="text", placeholder="Example: 512-973-3703", name="venueFax")
					div(class="label_box col-md-3")
						label(for="venueCateringCost") Venue Catering Cost:
						input(type="text", placeholder="Example: 1000", name="venueCateringCost")
					div(class="label_box col-md-3")
						label(for="venueSleepingRooms") Venue Sleeping Rooms:
						input(type="text", placeholder="Example: 145", name="venueSleepingRooms")
					.clearfix
					.btn
						button(id="submit", name="submit", type="submit").btn Submit
