extends ../layout

block content
	.container
		h1 Venue Details
		hr
		for venue in venues
			.row.content
				.col-md-4
					img(src="images/venue.png")
				.col-md-6
					h3= 'Venue Name: ' + venue.venuename
					p
						=venue.venueaddress1
					p
						=venue.venuecity + ', '
						=venue.venuestate + ' '
						=venue.venuepostal
					p
						="Phone:"+ venue.venuephone
					p
						="Fax:" + venue.venuefax
					h3='Venue catering cost:' + venue.venuecateringcost
					h3='no. of sleeping rooms:' + venue.venuesleepingrooms
