extends ../layout

block content
    .container
        h2 Add food
        div(id="input_page_wrapper")
            div(id="input")
                form(id="input_form", name="addEntry", method="post", action="/addMeeting/add")
                    div(class="label_box")
                        label(for="foodName") Food Name
                        input(type="text", placeholder="Example: Soul Kitchen", name="foodName")
                    div(class="label_box")
                        label(for="dayOfWeek") Day of Week:
                        input(type="text", placeholder="Example: Soul Kitchen", name="dayOfWeek")
                    div(class="label_box")
                        label(for="date") Date:
                        input(type="text", placeholder="Example: Soul Kitchen", name="date")

                    button(id="submit", name="submit", type="submit") Submit
