extends ../layout

block content
    .container
        h1 Foods
        .row
            button.btn.btn-default
                a(href="/food/add") Add new Food
        div(id="input_page_wrapper")
            div(id="input")
                    div(class="label_box")
                        label(for="foodName") Food Name

                    div(class="label_box")
                        label(for="dayOfWeek") Day of Week:

                    div(class="label_box")
                        label(for="date") Date:

                    .row
                        button.btn.btn-default
                            a(href="/food/edit") Edit Food
                        button.btn.btn-default
                            a(href="/food/delete") Delete Food
