extends ../layout

block content
	.container
		h2 Participant List
		table.table
			tr
				th.text-align: center ID
				th.text-align: center First Name
				th.text-align: center Last Name
				th.text-align: center Organization
				th.text-align: center Email
				th.text-align: center Prework Complete?
				th.text-align: center Team

				for participant in participants
					tr.hovertable(onmouseover="this.style.backgroundColor='lightgray';" onmouseout="this.style.backgroundColor='white';")
						td.text-align: center
							a(href="/participants?id=#{participant.participantid}") #{participant.participantid}
						td= participant.firstname
						td= participant.lastname
						td= participant.organizationname
						td= participant.emailaddress
						td.text-align: center= participant.preworkcomplete
						td.text-align: center= participant.teamname
